<h1>
  Welcome to CoinBank!
</h1>

<h2>
  Useful links:
</h2>
<ul>
  <li>
    <%= link_to "New Currency", new_coin_bank_currency_path %>
  </li>
  <% if current_user %>
    <li>
      <%= link_to "Account Page", edit_user_registration_path %>
    </li>
    <li>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Log In", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
  <% end %>
</ul>
